beautifulsoup4==4.9.3
bert-extractive-summarizer==0.7.1
blis==0.7.4
boto3==1.17.62
botocore==1.20.62
catalogue==2.0.4
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cymem==2.0.5
dnspython==2.0.0
docopt==0.6.2
fastapi==0.63.0
filelock==3.0.12
Flask==1.1.2
Flask-PyMongo==2.3.0
gdown==3.12.2
h11==0.12.0
ibm-cloud-sdk-core==1.7.3
ibm-watson==4.7.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.0.1
Js2Py==0.70
MarkupSafe==1.1.1
murmurhash==1.0.5
nltk==3.6.2
numpy==1.20.2
packaging==20.9
pathy==0.5.2
Pillow==8.1.0
pipwin==0.5.1
playsound==1.2.2
preshed==3.0.5
punctuator==0.9.6
PyAudio @ file:///C:/Users/Anurag%20Deore/pipwin/PyAudio-0.2.11-cp37-cp37m-win_amd64.whl
pydantic==1.7.3
pydub==0.24.1
pyjsparser==2.7.1
PyJWT==1.7.1
pymongo==3.11.2
pyparsing==2.4.7
PyPrind==2.11.2
pySmartDL==1.3.4
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2021.1
PyYAML==5.3.1
regex==2021.4.4
requests==2.24.0
s3transfer==0.4.2
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.6.3
sentencepiece==0.1.95
six==1.15.0
smart-open==3.0.0
soupsieve==2.2
spacy==3.0.6
spacy-legacy==3.0.5
SpeechRecognition==3.8.1
srsly==2.4.1
starlette==0.13.6
Theano==1.0.5
thinc==8.0.3
threadpoolctl==2.1.0
tokenizers==0.5.2
torch==1.8.1
tqdm==4.60.0
transformers==2.8.0
typer==0.3.2
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.25.10
uvicorn==0.13.3
wasabi==0.8.2
watchgod==0.6
websocket-client==0.48.0
websockets==8.1
Werkzeug==1.0.1
zipp==3.4.1
