{% extends "layout.html" %}
{% block title %} Dashboard | Meetify {% endblock %}
{% block styles %}
<style>
    .table thead {
        /* background-color: #00ccff30; */
        background-color: rgba(0, 118, 255, 0.1);
        line-height: 3rem;
    }

    .table tbody>tr {
        cursor: pointer;
        line-height: 4rem;
    }
    .table tbody>tr:hover {
        border: 1px solid black;
        box-shadow: 0px 0px 20px 5px rgb(249, 251, 252);
    }
</style>
{% endblock %}
<!--  -->
<!--  -->
{% block content %}
<div id="dashboard"></div>

<div class="container">
    <h2 class="my-4 font-weight-bold">Lectures</h2>
    <table class="table table-borderless table-hover text-center">
        <thead>
            <tr>
                <th   scope="col">No.</th>
                <th class="w-25" scope="col">Title </th>
                <th  scope="col">Date</th>
                <th class="w-25" scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for k in data %}
            <tr class="p-5" onclick="window.location.href = '/meetDetails/{{k._id}}';">
                <th scope="row">{{ loop.index }}</th>
                <td>{{k.title}} </td>
                <td>{{k.date.strftime('%d/%m/%Y')}} </td>
                <td class="desc">{{k.description|truncate(30, True)}} </td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>

<!--  -->
<!--  -->
<script src="../static/HeaderComponent.js"></script>
<script type="text/babel">
    const App = () => {
        const [dmenuOpen, setdmenuOpen] = React.useState(false);
        return (
            <React.Fragment>
                <Header />
            </React.Fragment>
        );
    }

    const domContainer = document.querySelector("#dashboard");
    ReactDOM.render(<App />, domContainer);

</script>
{% endblock %}