{% extends "layout.html" %}
{% block title %}Meetify{% endblock %}
{% block content %}

<div class="container-fluid jumboto">
    <div class="d-flex justify-content-center align-items-center">
        <div class="jumboto align-self-center text-center">
            Meetify
        </div>
    </div>
    <p class="text-center subtitle ">AI for Meeting Audio Transcription and NoteTaking</p>
</div>
<div class="container mt-5">
    <div class="d-flex w-100 justify-content-center align-items-center">
        <a href="{{url_for('login')}}" class="mx-5 offset">Sign In </a>
        <a href="{{url_for('register')}}" class="mx-5 offset">Sign Up </a>
    </div>
</div>
{% endblock %}