{% extends "layout.html" %}
{% block title %} Dashboard | Meetify {% endblock %}
{% block styles %}
<style>
    .nonscroll {
        height: 500px;
        overflow-y: auto;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px transparent;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #007bff90;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #007bff;
    }

    fieldset.scheduler-border {
        border: 1px double #007bff !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }
</style>
{% endblock %}
<!--  -->
<!--  -->
{% block content %}
<div id="dashboard"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<!--  -->
<script type="text/babel">
    const App = () => {
        const [dmenuOpen, setdmenuOpen] = React.useState(false);
        const [timeArray, setTimeArray] = React.useState(JSON.parse('{{data["transcription"]["0"].time_stamps|tojson|safe}}'));
        const [transcriptArray, settranscriptArray] = React.useState(JSON.parse('{{data["transcription"]["0"].transcripts|tojson|safe}}'));
        function secondsToTime(e) {
            var h = Math.floor(e / 3600).toString().padStart(2, '0'),
                m = Math.floor(e % 3600 / 60).toString().padStart(2, '0'),
                s = Math.floor(e % 60).toString().padStart(2, '0');

            return h + ':' + m + ':' + s;
        }
        return (
            <React.Fragment>
                <nav className="navbar navbar-expand-lg  shadow-sm navbar-light "  >
                    <div className="container-fluid" id="navContainer">
                        <a className="logo theme-color" href="{{url_for('dashboard')}}">Lec2Notes</a>
                        <div className="float-right d-flex justify-content-center align-items-center">
                            <button onClick={() => setdmenuOpen(!dmenuOpen)} className="rounded-0 btn btn-default account-box">
                                <span className="mdi acc mdi-account-outline"> </span>
                                {dmenuOpen ?
                                    <span className="mdi acc mdi-chevron-up"></span>
                                    : <span className="mdi acc mdi-chevron-down"></span>}

                            </button>
                            <div className={`dmenu shadow ${dmenuOpen ? "show" : ""}`} id="dmenu">
                                <a className="dropdown-item" href="#">Profile</a>
                                <a className="dropdown-item" href="#">Logout</a>
                            </div>
                        </div>
                    </div>
                </nav>
                <div className="container-fluid mt-4">
                    <div>
                        <h3>{'{{data.title}}'}</h3>
                        <p className="text-muted font-weight-light ">{'{{data.description}}'}</p>
                    </div>
                    <hr />
                    <div className="row">
                        <div className="col-2">
                            <div className="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a className="nav-link active" id="v-pills-transcription-tab" data-toggle="pill" href="#v-pills-transcription" role="tab" aria-controls="v-pills-transcription" aria-selected="true">Transcript</a>
                                <a className="nav-link" id="v-pills-timestamp-tab" data-toggle="pill" href="#v-pills-timestamp" role="tab" aria-controls="v-pills-timestamp" aria-selected="false">Timestamps</a>
                                <a className="nav-link" id="v-pills-summary-tab" data-toggle="pill" href="#v-pills-summary" role="tab" aria-controls="v-pills-summary" aria-selected="false">Summary</a>
                                <a className="nav-link" id="v-pills-notes-tab" data-toggle="pill" href="#v-pills-notes" role="tab" aria-controls="v-pills-notes" aria-selected="false">Notes</a>
                            </div>
                        </div>
                        <div className="col-10 nonscroll">
                            <div className="tab-content" id="v-pills-tabContent">
                                <div className="tab-pane fade show active" id="v-pills-transcription" role="tabpanel" aria-labelledby="v-pills-transcription-tab">
                                    <fieldset className="scheduler-border">
                                        <legend className="scheduler-border text-dark">Transcription</legend>
                                        <p className="text-justify">{'{{data.punctuated}}'}</p>
                                    </fieldset>
                                </div>
                                <div className="tab-pane fade" id="v-pills-timestamp" role="tabpanel" aria-labelledby="v-pills-timestamp-tab">
                                    <fieldset className="scheduler-border">
                                        <legend className="scheduler-border text-dark">Transcription with Timestamp</legend>
                                        {
                                            timeArray.map((ele, index) => {

                                                return (
                                                    <div className="card-body border-bottom shadow-sm" key={index}>
                                                        <i className="text-primary small">{secondsToTime(ele[0])} - </i>
                                                        {transcriptArray[index] != "Google Speech Recognition could not understand audio" ?
                                                            <div>{transcriptArray[index]}</div> : ""
                                                        }
                                                    </div>
                                                );
                                            })
                                        }
                                    </fieldset>
                                </div>
                                <div className="tab-pane fade" id="v-pills-summary" role="tabpanel" aria-labelledby="v-pills-summary-tab">
                                    <fieldset className="scheduler-border">
                                        <legend className="scheduler-border text-dark">{'{{data.title}}'} - Summary</legend>
                                        <p className="text-justify">{'{{data.bertSum}}'}</p>
                                    </fieldset>
                                </div>
                                <div className="tab-pane fade" id="v-pills-notes" role="tabpanel" aria-labelledby="v-pills-notes-tab">
                                    <fieldset className="scheduler-border">
                                        <legend className="scheduler-border text-dark">{'{{data.title}}'} - Notes</legend>
                                        <p className="text-justify">{'{{data.absText}}'}</p>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </React.Fragment>
        );
    }

    const domContainer = document.querySelector("#dashboard");
    ReactDOM.render(<App />, domContainer);

</script>

{% endblock %}