<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button class="talk">Talk</button>
    <div class="text"></div>

    <script>
        const button = document.querySelector('.talk');
        const content = document.querySelector('.text')
        const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        const recognize = new SpeechRecognition();
        recognize.onstart = function () {
            console.log('Started')
        }

        recognize.onresult = function () {
            const current = event.resultIndex;

            const transcript = event.results[current][0].transcript;
            content.textContent = transcript;
        }

        button.addEventListener('click', () => {
            recognize.start();
        })
    </script>
</body>

</html>